extends layout
block head
    script(src="/lib/d3/js/d3.v3.min.js")
    script(src="/lib/topojson/js/topojson.v1.min.js")
    script(src="/lib/crossfilter/js/crossfilter.min.js")
    script(src="/javascript/visualization.js")
    script
        generateVisualization("http://threatwiki.thesentinelproject.org/api/datapoint/soc/Myanmar?callback=?",22,96,"/mapfiles/burma.json",new Date(2013, 03,15),"Burma",5);
    script(src="/javascript/moment.min.js")
    script(src="/lib/leaflet/js/leaflet.js")
    script(src="/lib/leaflet/js/leaflet.markercluster.js")
    script(src="/lib/leaflet/js/L.Control.Zoomslider.js")
    link(rel='stylesheet', href='/stylesheets/visualization.css')
    link(rel='stylesheet', href='/lib/leaflet/css/leaflet.css')
    link(rel='stylesheet', href='/lib/leaflet/css/L.Control.Zoomslider.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.css')
block pageContent
    include visualization