div#wrap
  p Run a console to see JSON data.
    br/
  p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
  p Shift+Ctrl+I for Chromium

  hr/
  div#post_form
    span.bold
      p New Datapoint
      form#datapoint_form
        label(for="soc") SOC
        br/
        select(id="soc", name="soc")
        br/
        label(for="title") Title
        br/
        input(type="text", name="title")

        br/
        label(for="location") Location
        br/
        input(id="location", name="location")

        br/
        label(for="latitude") Latitude
        br/
        input(type="text", id="latitude", name="latitude")
        br/
        label(for="longitude") Longitude
        br/
        input(type="text", id="longitude", name="longitude")
        br/
        label(for="description") Description
        br/
        textarea(name="description", rows="4", cols="60")
        br/
        label(for="tags") Tags
        br/
        select(multiple id="tag_list", name="tag_list")
        br/
        input(type="submit", value="save")

  hr/
  div#get-div
    input(type="submit", value="$.get()", id="get")

  hr/
  span.bold
    p Status
  div#status

  hr/
  span.bold
    p Data
  div#result

  hr/
  span.bold
    p Poorly Consumed Data
  div#consumed
    table(id="consumed_table")

script
  var datapoint_form = $('#datapoint_form');
