- if (!everyauth.loggedIn)
 a(href='/auth/google', style='border: 0px') Login with your thesentinelproject.org email
- else
 p Welcome #{everyauth.google.user.name} with email #{everyauth.google.user.email}!