extends layout
block head
    script(src="/javascript/d3.v3.min.js")
    script(src="/javascript/topojson.v1.min.js")
    script(src="/javascript/crossfilter.min.js")
    script(src="/javascript/visualization.js")
    script(src="/javascript/moment.min.js")
    script(src="/javascript/leaflet.js")
    script(src="/javascript/L.Control.Zoomslider.js")
    link(rel='stylesheet', href='/stylesheets/visualization.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/L.Control.Zoomslider.css')

block pageContent
    include visualization