!!!
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/javascript/jquery.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src="/lib/d3/js/d3.v3.min.js")
    script(src="/javascript/topojson.v1.min.js")
    script(src="/javascript/crossfilter.min.js")
    script(src="/javascript/visualization.js")
    script(src="/javascript/moment.min.js")
    script(src="/lib/leaflet/js/leaflet.js")
    script(src="/lib/leaflet/js/L.Control.Zoomslider.js")
    link(rel='stylesheet', href='/stylesheets/visualization.css')
    link(rel='stylesheet', href='/lib/leaflet/css/leaflet.css')
    link(rel='stylesheet', href='/lib/leaflet/css/L.Control.Zoomslider.css')
//if lte IE 8]
    link(rel='stylesheet', href='/lib/leaflet/css/leaflet.ie.css')
    link(rel='stylesheet', href='/lib/leaflet/css/L.Control.Zoomslider.ie.css')
  div(class='navbar navbar-inverse')
        div.navbar-inner
          div.container
            ul(class='nav')
                li
                  a(href='http://thesentinelproject.org/situations-of-concern-2/bahais-in-iran/') Return to Iran Situation of Concern
      div.container-fluid
        #logo
          img(src='/images/logo.png',style="height: 44px; width:300px;")
        body
            include visualization