extends layout
block head
    script(src="/lib/d3/js/d3.v3.min.js")
    script(src="/lib/topojson/js/topojson.v1.min.js")
    script(src="/lib/crossfilter/js/crossfilter.min.js")
    script(src="/javascript/visualization.js")
    script
        generateVisualization("http://vast-journey-7849.herokuapp.com/api/datapoint/soc/Kenya?callback=?",0,37,"/mapfiles/kenya.json",new Date(2012,05,01),"Kenya",6);
    script(src="/javascript/moment.min.js")
    script(src="/lib/mapbox/js/mapbox.js")
    script(src="/lib/leaflet/js/leaflet.markercluster.js")
    script(src="/lib/leaflet/js/L.Control.Zoomslider.js")
    link(rel='stylesheet', href='/lib/mapbox/css/mapbox.css')
    link(rel='stylesheet', href='/stylesheets/visualization.css')
    link(rel='stylesheet', href='/lib/leaflet/css/L.Control.Zoomslider.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.css')
block pageContent
    include visualization