!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/v1.css')

    script(type='text/javascript', src='/javascript/jquery.min.js')
    -each script in scripts
      script(type='text/javascript', src= script)
  - if (everyauth.loggedIn)
    #menu
        li
          a(href='/') Home
        li
          a(href='/soc') SOC
        li
          a(href='/tag') Tag
        li
          a(href='/datapoint') Datapoint
        li
         a(href='/logout') Logout

  body!= body
