!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://intranet.tspdev.org/libraries/tidal_lock/css/reset.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/table.css')

    script(type='text/javascript', src='/javascript/jquery.min.js')
    script(type='text/javascript', src='/javascript/jquery.dataTables.min.js')
    -each script in scripts
      script(type='text/javascript', src= script)

  - if (app.settings.env == "development" || everyauth.loggedIn)
    #headerBackground
      #header
        #nav
          #navList
            li
              a(href='/',class='nav') Home
            li
              a(href='/soc',class='nav') SOC
            li
              a(href='/tag',class='nav') Tag
            li
              a(href='/datapoint',class='nav') Datapoint
            li
              a(href='/logout',class='nav') Logout

  #logo
    img(src='images/logo.jpg')

  body!= body
