!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/v1.css')

    script(type='text/javascript', src='/javascript/jquery.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
    -each script in scripts
      script(type='text/javascript', src= 'javascript/' + script)

    #menu
      ul
        li
          a(href='/soc') SOC
        li
          a(href='/tag') Tag
        li
          a(href='/datapoint') Datapoint
  body!= body
