!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/v1.css')

    script(type='text/javascript', src='/javascript/jquery.min.js')
    -each script in scripts
      script(type='text/javascript', src= script)

    #menu
      ul
        li
          a(href='/soc') SOC
        li
          a(href='/tag') Tag
        li
          a(href='/datapoint') Datapoint
  body!= body
