!!!
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    script(type='text/javascript', src='/javascript/jquery.min.js')
    script(type='text/javascript', src='/javascript/jquery.dataTables.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    block head

  - if (settings.env == "development" || everyauth.loggedIn)
      div(class='navbar navbar-inverse')
        div.navbar-inner
          div.container
            ul(class='nav')
              li
                a(href='/') Home
              li
                a(href='/soc') SOC
              //
                li
                  a(href='/tag') Tag
                li
                  a(href='/datapoint') Datapoint
              li
                a(href='/logout') Logout
      div.container-fluid
        #logo
          img(src='/images/logo.jpg')
        body
          block pageContent
    else
      div(class='navbar navbar-inverse')
        div.navbar-inner
          div.container
            ul(class='nav')
                li
                  a(href='/') Home
      div.container-fluid
        #logo
          img(src='/images/logo.jpg')
        body
          block pageContent
