script(type='text/javascript', src='/javascript/soc.js')

div#wrap
  p Run a console to see JSON data.
    br/
  p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled

  hr/
  div#post_form
    span.bold
      p New SOC
      div#soc_form
        p Title
        input(type="text", name="title")
        br/
      div#post-div
        input(type="submit", value="$.post()", id="post")

  hr/
  div#get-div
    input(type="submit", value="$.get()", id="get")

  hr/
  span.bold
    p Status
  div#status

  hr/
  span.bold
    p Data
  div#result

  hr/
  span.bold
    p Poorly Consumed Data
  div#consumed
    table(id="consumed_table")
