#pageContent
  p Run a console to see JSON data.
  p Ctrl+Shift+K in Firefox with 'Net' and 'JS' sources enabled
  p Shift+Ctrl+I for Chromium

  hr/
  div#post_form
    span.bold
      - if (typeof(soc) != 'undefined')
        form#soc_form_update
          input(type="text", name="id", value=soc._id, hidden=true)
          br/
          label(for="title") Title
          br/
          input(type="text", name="title", value=soc.title)
          br/
          input(type="submit", value="save")
      - else
        form#soc_form
          br/
          label(for="title") Title
          br/
          input(type="text", name="title")
          br/
          input(type="submit", value="save")

  hr/
  div#get-div
    input(type="submit", value="$.get()", id="get")

  hr/
  span.bold
    p Status
  div#status

  hr/
  span.bold
    p Data
  div#result

  hr/
  span.bold
    p Poorly Consumed Data
  div#consumed
    table(id="consumed_table")

script
  var soc_form = $('#soc_form');
  var soc_form_update = $('#soc_form_update');
