div#wrap

  a(href='soc/create') New

  table#soc
    thead
      tr
        th title
        th modified
        th actions
    tbody
     each soc, i in socs
        tr(id="row_"+soc._id)
          td
            #{soc.title}
          td
            #{soc.modified}
          td 
            a(href="#", id="delete_"+soc._id) delete
