div#wrap
  p Run a console to see JSON data.
  p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
  p Shift+Ctrl+I for Chromium

  hr/
  div#post_form
    span.bold
      p New Tag
      form#tag_form
        label(for="soc") SOC
        br/
        select(name="soc", id="soc")
        br/
        label(for="title") Title
        br/
        input(type="text", name="title")
        br/
        label(for="description") Description
        br/
        textarea(name="description", rows="4", cols="60")
        br/
        input(type="submit", value="save")

  hr/
  div#get-div
    input(type="submit", value="$.get()", id="get")

  hr/
  span.bold
    p Status
  div#status

  hr/
  span.bold
    p Data
  div#result

  hr/
  span.bold
    p Poorly Consumed Data
  div#consumed
    table(id="consumed_table")

script
  var tag_form = $('#tag_form');
