div#wrap

  a(href='tag/create') New

  table#tag
    thead
      tr
        th title
        th soc
        th modified
        th actions
    tbody
     each tag, i in tags
        tr(id="row_"+tag._id)
          td
            #{tag.title}
          td
            #{tag.soc}
          td
            #{tag.modified}
          td 
            a(href="#", id="delete_"+tag._id) delete
