extends layout
block head
    script(src="/javascript/d3.v3.min.js")
    script(src="/javascript/topojson.v0.min.js")
    script(src="/javascript/crossfilter-dev.js")
    script(src="/javascript/visualization.js")
    script(src="/javascript/moment.min.js")
    link(rel='stylesheet', href='/stylesheets/visualization.css')
block pageContent
    a(href="javascript:reset(0)")
        button(type="button", class="btn") Reset All Filters
    span(class="help-inline")
        button(type="button", class="btn", data-toggle="modal", data-target="#myModal") Test Modal
    div(id="totals")
        span(id="active")
        span  datapoints out of a total of 
        span(id="total")
        p 
            strong Tag filtered: 
            span(id="activefilter")
            br
            strong  Location Filtered: 
            span(id="activelocation")
    div
        select(name="stage",id="stagedropdown",onchange="filterStage(this.options[this.selectedIndex].value)")
            option(selected=true,value="") -Choose Genocide Stage-
            option(value="Symbolization") Symbolization
            option(value="Discrimination") Discrimination
            option(value="Dehumanization") Dehumanization
            option(value="Organization") Organization
            option(value="Polarization") Polarization
            option(value="Preparation") Preparation
            option(value="Persecution") Persecution
            option(value="Extermination") Extermination
            option(value="Denial") Denial 
    div(id="lists")
        div(id="tag-list", class="list")
            span Tags List
        div(id="datapoint-list", class="list")
            div(class="datapointTitle")
                div(class="serialnumber") #
                div(class="title") Title
                div(class="stage") Stage
                div(class="date") Event Date
    //Modal to create tag from inside the datapoint          
    div(id="myModal",class="modal hide fade",tabindex="-1",role="dialog",aria-labelledby="datapointevent",aria-hidden="true")
      div(class="modal-header")
        button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
        h4(id="datapointevent") Event Details
      div(class="modal-body")
        h4 Event Date
        span(id="datapointdate")
        h4 Stage
        span(id="datapointstage")
        h4(class="control-label",for="description") Description
        span(name="description",  class="span6", id="datapointdescription")
      div(class="modal-footer")
        button(class="btn",data-dismiss="modal",aria-hidden="true") Close