div(id="top")
    div(id="totals")
        a(href="javascript:reset(0)")
            button(type="button", class="btn btn-small btn-primary") Reset All Filters
        br
        span(id="active")
        span  datapoints out of 
        span(id="total")
        p 
            strong Tag filtered: 
            span(id="activefilter")
        div
            select(name="stage",id="stagedropdown",onchange="filterStage(this.options[this.selectedIndex].value)")
                option(selected=true,value="") Pick Genocide Stage
                option(value="Symbolization") Symbolization
                option(value="Discrimination") Discrimination
                option(value="Dehumanization") Dehumanization
                option(value="Organization") Organization
                option(value="Polarization") Polarization
                option(value="Preparation") Preparation
                option(value="Persecution") Persecution
                option(value="Extermination") Extermination
                option(value="Denial") Denial
            label(class="checkbox",id="checkboxlabel")
                input(type="checkbox",id="checkboxgeneral",onclick="filterGeneral(this.checked)"))
                span Show General Datapoints 
                    a(href="#", id="popovergeneral", class="popover-link", data-delay"2000", data-title='<a href="#" style="float:none" class="close pull-right">&times;</a>', data-html="true", data-toggle="popover", data-placement="right", data-trigger="hover",data-content="Datapoints are given the General tag if they describe events that are outside the scope of the Operational Process model but provide significant context to the events. <a href='http://thesentinelproject.org/our-work/early-warning-system-overview/operational-process-stages-of-genocide-model/' target='_blank'>Read more about our Genocide Model</a>")  
                        i(class="icon-info-sign")

    div(id="charts")
        div(id="date-chart",class="chart")

div(id="lists")
    div(id="tag-list", class="list")
        span Filter by Tag
    div(id="datapoint-list", class="list")
        div(class="datapointTitle")
            div(class="serialnumber") #
            div(class="title") Event Title
            div(class="stage") 
                a(href="#", id="popover", class="popover-link", data-delay"2000", data-title='<a href="#" style="float:none" class="close pull-right">&times;</a>', data-html="true", data-toggle="popover", data-placement="top", data-trigger="hover",data-content="The stage indicates that this event is either the cause or effect of one of the fundamental processes of genocide. <a href='http://thesentinelproject.org/our-work/early-warning-system-overview/operational-process-stages-of-genocide-model/' target='_blank'>Read more about our Genocide Model</a>") Stage  
                    i(class="icon-info-sign")
            div(class="date") Event Date
    div(id="mapcontainer")
        style            
            .leaflet-control-zoomslider-knob { width:14px; height:6px; }
            .leaflet-container .leaflet-control-zoomslider-body {
              -webkit-box-sizing:content-box;
                 -moz-box-sizing:content-box;
                      box-sizing:content-box;
              }
        div(class="datapointTitle") Click to enlarge and get details on the datapoint
        div(id="map")
//Modal to display datapoint information    
div(id="myModal",class="modal hide fade",tabindex="-1",role="dialog",aria-labelledby="datapointevent",aria-hidden="true")
  div(class="modal-header")
    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
    h4(id="datapointevent") Event Details
  div(class="modal-body")
    div(class="container-fluid")
        div(class="row-fluid")
            div(class="span4")
                h4 Event Date
                span(id="datapointdate")
            div(class="span4")
                h4 Location
                span(id="datapointlocation")
            div(class="span4")
                h4 Stage
                span(id="datapointstage")
        div(class="row-fluid")
            div(class="span12")
                h4(class="control-label",for="description") Description
                span(id="datapointdescription")
        div(class="row-fluid")
            div(class="span12")
                h4(class="control-label",for="description") Sources
                div(id="datapointsources")
  div(class="modal-footer")
    if (settings.env == "development" || everyauth.loggedIn)
        a(href="#",target="_blank",id="datapointlink")
            button(class="btn btn-info") Edit
        &nbsp;
    button(class="btn",data-dismiss="modal",aria-hidden="true") Close