extends layout
block head
    script(src="/javascript/d3.v3.min.js")
    script(src="/javascript/topojson.v0.min.js")
    script(src="/javascript/crossfilter-dev.js")
    script(src="/javascript/visualization.js")
    script(src="/javascript/moment.min.js")
    link(rel='stylesheet', href='/stylesheets/visualization.css')
block pageContent
    a(href="javascript:reset(0)")
        button(type="button", class="btn") Reset All Filters
    div(id="totals")
        span(id="active")
        span  datapoints out of a total of 
        span(id="total")
        p 
            strong Tag filtered: 
            span(id="activefilter")
            br
            strong  Location Filtered: 
            span(id="activelocation")
    div
        select(name="stage",id="stagedropdown",onchange="filterStage(this.options[this.selectedIndex].value)")
            option(selected=true,value="") -Choose Genocide Stage-
            option(value="Symbolization") Symbolization
            option(value="Discrimination") Discrimination
            option(value="Dehumanization") Dehumanization
            option(value="Organization") Organization
            option(value="Polarization") Polarization
            option(value="Preparation") Preparation
            option(value="Persecution") Persecution
            option(value="Extermination") Extermination
            option(value="Denial") Denial 
    div(id="lists")
        div(id="tag-list", class="list")
            span Tags List
        div(id="datapoint-list", class="list")
            div(class="datapointTitle")
                div(class="serialnumber") #
                div(class="title") Title
                div(class="stage") Stage
                div(class="date") Date