#post_form
{
}

#status
{
  margin:0.5em;
  font-weight:bold;
}

#result,#consumed
{
  margin:0.5em;
}

.bold
{
  font-weight:bold;
}

.jquery-auto-geocoder-map
{
  margin: 1em 0;
  float: right;
  width: 200px;
  height: 100px;
}
