.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.points-label {
  font-size: 18px;
  font-weight: 300;
  text-anchor: middle;
  fill: #FF0000;
}

#datapoint-list {
   margin-bottom: .4em;
   font-size: 13px;
   line-height: 1.5em;
   background: #eee;
   width: 435px;
   margin-bottom: 1px;
}

#tag-list {
  float: left;
  width:218px;
  font-size: 13px;
}
#datapoint-list {
  float: left;
}
svg.map{
  float: left;
}
#datapoint-list .serialnumber{
	width: 35px;
}

#datapoint-list .date {
  width: 130px;
}

#datapoint-list .stage{
	width: 100px;
}

#datapoint-list .title{
  width: 170px;
}

.datapoint div {
	display: inline-block;
}
.datapointTitle div {
  display: inline-block;
  font-weight:bold;
}
span.datapointsource {
  display: block;
}


circle.points {
}