.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

#datapoint-list {
   margin-bottom: .4em;
   font-size: 13px;
   line-height: 1.5em;
   background: #eee;
   width: 435px;
   margin-bottom: 1px;
}

#tag-list {
  float: left;
  width:200px;
  font-size: 13px;
}
#datapoint-list {
  float: left;
}
svg.map{
  float: left;
}
#datapoint-list .serialnumber{
	width: 35px;
}

#datapoint-list .date {
  width: 130px;
}

#datapoint-list .stage{
	width: 100px;
}

#datapoint-list .title{
  width: 170px;
}

.datapoint div {
	display: inline-block;
}
.datapointTitle div {
  display: inline-block;
  font-weight:bold;
}
span.datapointsource {
  display: block;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}
.chart-label {
  font: 10px sans-serif;
  font-weight:bold;
}


.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
#charts {
  padding: 10px 0;
}
#totals {
  float:left;
  margin-right:10px;
  width:162px;
}
#stagedropdown{
  width:150px;
}
#date-chart .title{
  text-aligh: center;
}

.chart {
  display: inline-block;
  height: 121px;
  margin-bottom: 20px;
}

