.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

#datapoint-list {
   font-size: 13px;
   line-height: 1.5em;
   width: 396px;
   margin-right: 5px;
}
#lists {
   white-space: nowrap;
}
#tag-list {
  float: left;
  width:200px;
  font-size: 13px;
  white-space: normal;
}
#datapoint-list {
  float: left;
}

#datapoint-list .serialnumber{
	width: 25px;
  display: inline-block;
  vertical-align: top;
  padding:2px;

}

#datapoint-list .date {
  width: 85px;
  display: inline-block;
  vertical-align: top;
  padding:2px;
}

#datapoint-list .stage{
	width: 95px;
  display: inline-block;
  vertical-align: top;
  padding:2px;
}

#datapoint-list .title{
  width: 170px;
  display: inline-block;
  vertical-align: top;
  padding:2px;
}

#datapoint-list .datapoint {
  white-space: normal;
  vertical-align: top;
  margin-bottom: 1px;
  display: block;
  background: #eee;
  padding: 1.5px;
}
#datapoint-list .datapointTitle  {
  font-weight:bold;
  white-space: normal;
  margin-bottom: 1px;
  padding: 1.5px;
}
span.datapointsource {
  display: block;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}
.chart-label {
  font: 10px sans-serif;
  font-weight:bold;
}


.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
#charts {
  padding: 10px 0;
}
#totals {
  float:left;
  margin-right:10px;
  width:162px;
}
#stagedropdown{
  width:150px;
}

.chart {
  display: inline-block;
  height: 121px;
  margin-bottom: 20px;
}

